n8n-workflows/follow-back-http.json
{
  "name": "Twitter Follow Back HTTP",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.twitter.com/2/users/by/username/goooglewtf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.twitterBearerToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-userid",
      "name": "Get User ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "credentials": {
        "twitterBearerToken": {
          "id": "twitter-credentials",
          "name": "Twitter Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.twitter.com/2/users/{{ $('Get User ID').first().json.data.id }}/followers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "max_results",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.twitterBearerToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-followers",
      "name": "Get Followers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "credentials": {
        "twitterBearerToken": {
          "id": "twitter-credentials",
          "name": "Twitter Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split-followers",
      "name": "Split Followers",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.twitter.com/2/users/{{ $('Get User ID').first().json.data.id }}/following",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user.fields",
              "value": "id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.twitterBearerToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-check-following",
      "name": "Check If Following",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "credentials": {
        "twitterBearerToken": {
          "id": "twitter-credentials",
          "name": "Twitter Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-following",
              "leftValue": "={{ $json.meta.result_count }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-not-following",
      "name": "Not Following?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twitter.com/2/users/{{ $('Get User ID').first().json.data.id }}/following",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target_user_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.twitterBearerToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "http-follow",
      "name": "Follow User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 200],
      "credentials": {
        "twitterBearerToken": {
          "id": "twitter-credentials",
          "name": "Twitter Bearer Token"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User ID": {
      "main": [
        [
          {
            "node": "Get Followers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Followers": {
      "main": [
        [
          {
            "node": "Split Followers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Followers": {
      "main": [
        [
          {
            "node": "Check If Following",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Following": {
      "main": [
        [
          {
            "node": "Not Following?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Following?": {
      "main": [
        [
          {
            "node": "Follow User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["twitter", "growth"]
}
