n8n-workflows/follow-back.json
{
  "name": "Follow Back New Followers",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getFollowers",
        "user": "goooglewtf",
        "maxResults": 50
      },
      "name": "Get Followers",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "twitterOAuth2Api": "twitter-credentials"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-not-following",
              "leftValue": "={{ $json.following }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Not Following?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "follow",
        "user": "={{ $json.username }}"
      },
      "name": "Follow User",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [850, 200],
      "credentials": {
        "twitterOAuth2Api": "twitter-credentials"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Followers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Followers": {
      "main": [
        [
          {
            "node": "Not Following?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Following?": {
      "main": [
        [
          {
            "node": "Follow User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["twitter", "growth"],
  "pinData": {}
}